#contact-page.contact-container {
  min-height: 100vh;
  position: relative;
  .content {
    padding: 0 2rem;
    transition: var(--pg-transition-transition);
    .message {
      margin-bottom: 0.5rem;
    }
    input {
      height: 2rem;
      padding: 0 0.2rem;
      font-size: 1.2rem;
    }
    textarea {
      font-size: 1rem;
      padding: 0.2rem;
    }
    input[type='submit'] {
      display: block;
      width: 100%;
    }
    &.menu-open {
      overflow: hidden;
      opacity: 0.2;
      transition: var(--pg-transition-transition);
    }
    form {
      .form-group {
        display: flex;
        flex-direction: column;
        width: 100%;
        transition: var(--pg-transition-transition);
      }
    }
  }
  &.hide {
    transform: var(--pg-transition-transform-hide);
    transition: var(--pg-transition-transition);
    opacity: 0;
  }
  &.show {
    transform: var(--pg-transition-transform-show);
    transition: var(--pg-transition-transition);
    opacity: 1;
  }
}

@media screen and (min-width: 700px) {
  #contact-page.contact-container {
    min-height: 100vh;

    .content {
      padding: 0 10rem;
    }
  }
}
@media screen and (min-width: 1000px) {
  #contact-page.contact-container {
    min-height: 100vh;

    .content {
      padding: 0 13rem;
    }
  }
}
