#contact-page.contact-container {
  min-height: 100vh;
  position: relative;
  .content {
    padding: 0 2rem;
    transition: var(--pg-transition-transition);
    &.menu-open {
      overflow: hidden;
      opacity: 0.2;
      transition: var(--pg-transition-transition);
    }
    form {
      .form-group {
        display: flex;
        flex-direction: column;
        width: 100%;
        transition: var(--pg-transition-transition);
      }
    }
  }
  &.hide {
    transform: var(--pg-transition-transform-hide);
    transition: var(--pg-transition-transition);
    opacity: 0;
  }
  &.show {
    transform: var(--pg-transition-transform-show);
    transition: var(--pg-transition-transition);
    opacity: 1;
  }
}
