#projects-page.projects-container {
  position: relative;
  min-height: 100vh;
  .content {
    padding: 0 2rem;
    transition: var(--pg-transition-transition);
    a {
      color: dodgerblue;
      &:hover {
        color: rgba(30, 143, 255, 0.836);
      }
    }
    h2 {
      font-size: 1.8rem;
      font-weight: lighter;
      margin-bottom: 0.5rem;
    }
    .project {
      margin-bottom: 1rem;
      h3 {
        font-size: 1.5rem;
        font-weight: lighter;
        margin-bottom: 0.5rem;
      }
      .link-container {
        margin-bottom: 0.5rem;
        a {
          font-size: 1.2rem;
          color: dodgerblue;

          &:nth-of-type(1) {
            margin-right: 0.5rem;
          }
          &:hover {
            color: rgba(30, 143, 255, 0.842);
          }
        }
      }
    }
    &.menu-open {
      overflow: hidden;
      opacity: 0.2;
      transition: var(--pg-transition-transition);
    }
  }
  &.hide {
    transform: var(--pg-transition-transform-hide);
    transition: var(--pg-transition-transition);
    opacity: 0;
  }
  &.show {
    transform: var(--pg-transition-transform-show);
    transition: var(--pg-transition-transition);
    opacity: 1;
  }
}

@media screen and (min-width: 700px) {
  #projects-page.projects-container {
    min-height: 70vh;
    .content {
      padding: 0 5rem;

      a {
        font-size: 1.5rem;
        &:hover {
          color: dodgerblue;
        }
      }
      h2 {
        font-size: 3rem;
      }
      .project {
        h3 {
          font-size: 2rem;
        }
        p {
          font-size: 1.5rem;
          margin-bottom: 0.5rem;
        }
        .link-container {
          a {
            font-size: 2rem;

            &:nth-of-type(1) {
              margin-right: 0.5rem;
            }
            &:hover {
              color: dodgerblue;
            }
          }
        }
      }
    }
  }
}
